.no-text-select {
  user-select: none;
  -webkit-user-select: none;
}

.title {
  margin: 30px;
}

input.color {
  min-width: 60px;
}

#qr-setting {
  margin: 10px 5%;
  width: 90%;
  text-align: center;
}

#qr-setting .form-group {
  margin: 5px;
}

#drag-file-container {
  border: 1px solid #dadada;
  color: #838383;
  font-size: 12px;
  margin: 10px 20px;
  background-color: #FFF;
}

#drag-file {
  margin: 10px;
  border: 3px dashed #e6e6e6;
  min-height: 150px;
  padding-top: 100px;
  text-align: center;
  background: url(icon-excel.png) center 20px no-repeat;
  color: #cccccc;
  font-size: 18px;
  position: relative;
}

#upload {
  line-height: 44px;
  padding: 0 30px;
  margin: 15px auto;
}

#save-container {
  width: 100%;
  text-align: center;
}

#start {
  line-height: 44px;
  padding: 0 30px;
  margin: 20px auto;
}

#footer {
  position: fixed;
  bottom: 10px;
  color: #999;
  padding-left: 10px;
}
